/* -----------Google font------------ */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');



/* ----------CSS variables------------ */

:root {
    --background-color: #ccdada;
    --container-bg-color: #fff;
    --modal-bg-color: #0f4a6f;
    --modal-text-color: #fff;
    --text-color: #0f4a6f;
    --text-hover-color: #5193bd;
    --button-bg-color: #0f4a6f;
    --button-text-color: #fff;
    --button-hover-color: #dc2323;
    --button-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}



/* ---------Global styles---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* -----------Main section----------- */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    margin: 5% 5%;
    border-radius: 20px;
    border: 2px solid var(--text-color);
    background-color: var(--container-bg-color);
}

.main-container img {
    border-radius: 30px;
    width: 100%;
}

#banner {
    margin: 30px 20px;
}

#start {
    padding: 8px 30px;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: var(--button-text-color);
    background: var(--button-bg-color);
    box-shadow: var(--button-box-shadow);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
#start:hover {
    background: var(--button-hover-color);
    transition: transform 0.2s, background-color 0.2s;
}



/* ------------Modal of Instruction--------- */

#modal-instruction {
    position: fixed;
    background-color: var(--modal-bg-color);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    transition: ease-in 0.3s;
    opacity: 0;
    /* to hide the modal*/
    pointer-events: none;
    /* to be able to click through the hidden modal */
}

/*To reveal the modal instruction; set it back to default*/
#modal-instruction.reveal {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    color: var(--modal-text-color);
    text-align: center;
    align-self: center;

}

.modal h1 {
    font-size: 1.5em;
    margin-top: 10px;
}

.modal ul {
    text-align: left;
    padding: 20px 30px;
    font-size: 1em;
    margin-left: 10px;
}

#ins-open {
    background-color: var(--container-bg-color);
    color: var(--text-color);
}

#ins-close {
    background-color: var(--modal-bg-color);
    color: var(--modal-text-color);
    padding-top: 2em;
}

#ins-open,
#ins-close {
    border: none;
    text-decoration: underline;
    font-size: 1.2em;
    padding-bottom: 1em;
    cursor: pointer;
}



/* -----------Game section----------- */

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--container-bg-color);
    border-radius: 3em;
}

#timer {
    align-self: flex-end;
    margin-right: 70px;
    font-size: 0.8em;
    color: var(--text-color);
}

#answerInput {
    font-size: 1em;
    padding: 5px 10px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 30px;
    width: 80%;
    text-align: center;
    align-self: center;
    margin-bottom: 10px;
}

#okBtn {
    font-size: 1em;
    padding: 5px 20px;
    border: none;
    background: var(--button-bg-color);
    color: var(--button-text-color);
    border-radius: 30px;
    box-shadow: var(--button-box-shadow);
    width: 30%;
    align-self: center;
    margin-bottom: 10px;
}

#okBtn:hover {
    background: var(--button-hover-color);
    transition: transform 0.3s, background-color 0.3s;
}

#score {
    align-self: flex-start;
    padding-left: 30px;
    font-weight: 500;
    color: var(--text-color);
}

#hint {
    align-self: center;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    line-height: 1.2;
    color: var(--text-color);
}

#turnpage {
    margin-top: 30px;
    font-weight: 500;
    color: var(--text-color);
}



/* ----------Alert box message---------- */

.alert-box {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: var(--background-color);
    padding: 20px 30px 10px 30px;
    border-radius: 20px;
    z-index: 1000;
    /* make it appear above other content */
    text-align: center;
    border: 2px solid;
    color: var(--text-color);
}

.alert-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#alertMsg {
    padding-top: 10px;
}

.close-btn {
    position: absolute;
    font-size: 30px;
    top: -30px;
    right: -9px;
    color: #dc2323;
    cursor: pointer;
}

.next-btn {
    padding: 5px 30px;
    margin-top: 30px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--button-text-color);
    background: var(--button-bg-color);
    box-shadow: var(--button-box-shadow);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.next-btn:hover {
    background: #026fb3;
    transition: transform 0.3s, background-color 0.3s;
}


/* -------------Footer------------- */

footer {
    text-align: center;
    font-size: small;
    color: var(--text-color);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: rcenter;
    padding-bottom: 20px;
}

.footer i {
    color: var(--text-color);
}
